@using Microsoft.AspNetCore.Http.Features



<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="noindex" />
    <meta name="AdsBot-Google" content="noindex" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    @RenderSection("head", required: false)
</head>
<body>
    <div id="header">
        @{ 
            var (showBanner, consentCookie, userName) = BuildNRun.Service.CookieConsentService.GetCookieShowBanner(this.Context);
            if (showBanner) {
                <div id="cookieConsent">    
                    <form src="">
                        <button type="submit" data-dismiss="alert" data-cookie-string="@consentCookie">
                            <span aria-hidden="true">Erlaube Cookies</span>
                        </button>
                    </form>
                </div>
                <script>
                    (function () {
                        var button = document.querySelector("#cookieConsent button[data-cookie-string]");
                        button.addEventListener("click", function (event) {
                            document.cookie = button.dataset.cookieString;
                        }, false);
                    })();
                </script>
            } else { 
                <span id="title">Title</span>
                <span id="user">
                    @{
                        if (userName is null) {
                            <a href="/.auth/login/aad?post_login_redirect_url=/App">Anmelden</a>
                        } else {
                            <a href="UserInformation">&ux1f441; @userName</a>
                        }
                    }
                </span>
            }
        }
    </div>
    <div id="content">
        @RenderBody()
    </div>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
